 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>

 hekllo

 <table border="">
  <tr>
  <th>title</th>
    <th>name</th>
   
    
     
  </tr>
  {% for i in data %}
  {% comment %} {% for d in i.student_set.all %} {% endcomment %}
  {% for d in i.puju.all %}
  
 
  <tr>
   <td>{{i.title}}</td>
   <td>{{d.name}}</td>
   
  
   
   
  </tr>
     {% endfor %}
  {% endfor %}

 </table>
    
 </body>
 </html>